body.containbackground1 {
    background: url('./introback.png') no-repeat center fixed;
    background-size: cover ;
    height: 5rem;
}
.arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .contain{
    margin-top: 35rem;

  }
  .context{
    background-color: #efefefcf;
    padding-top: 4rem;
    height: 20rem;
  }

  /* .container1{
    width: fit-content;
    height: fit-content;
  } */
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  svg:not(:root) {
    overflow: visible;


} 
  .imgsize1{
    width: 100px;
    height: auto;
    padding-right: 20px;
  }

  .S1{
    color: rgb(0, 0, 0); 
    font-size: 53px;
    text-decoration: none;
  }


  
  .text_style{
    font-family: 'Pacifico', cursive;
    font-weight: 10;
    font-size:40px;

  }
  .text_style1{
    font-family: 'Righteous', cursive;
    font-weight: 10;
    font-size:40px;
  }