.jumbotron{
    margin-top: 35rem;
    background-color: #eeeeeeb8;
}
body.containbackground{
    background: url('./image/Background.png') no-repeat center fixed;
    background-size: cover ;
    height: 5rem;
}   
.jumbotron h1{

    font-size: 72px;
    background: -webkit-linear-gradient(#e61919cc, #6f13b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
