body.containbackground{
    background: url('./image/Background.png') no-repeat center fixed;
    background-size: cover ;
    height: 5rem;
}
.jumbotron{
  background-color:#ff000000;
}   
.jumbotron h1{

    font-size: 72px;
    background: -webkit-linear-gradient(#e61919cc, #6f13b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .contain{
    margin-top: 35rem;

  }
  .context{
    background-color: #efefefcf;
    padding-top: 4rem;
    height: 20rem;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .S{
    color: white; 
    font-size: 53px;
    text-decoration: none;
  }