  .logo{
      width: 8rem;
      height: 8rem;
    }
    .logoimg{
      background-image: url(./image/Logo.png);
      background-repeat: no-repeat;
    }
    .navbar-inverse{
        background-image: none;
        background-color: transparent;
        border-color: transparent;
    }
    .A{
      color: #e27b12;
    }
    .navbar-inverse .navbar-nav>li>a{
      background: -webkit-linear-gradient(#e61919cc, #6f13b5);
    -webkit-text-fill-color: transparent;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
      background: -webkit-linear-gradient(#e61919cc, #6f13b5);
      -webkit-text-fill-color: transparent;
    }
  .navbaerback{
    background: transparent;
    font-weight: bold;
    font-style: italic;
    margin-right: 2rem;
  }
  .navbaerback:hover{
    background: #ffffff;
  }
  .nav-container{
    height: 58px;
  width: 100%;
  position: fixed;
  color: white;
  text-transform: uppercase; 
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
  }
  
  .Navbar-default.scrolled{
    background:#fbfbfbc4;
  }
  .spacing{
    margin-left: 2rem;
  }